doctype html
html(lang='en')

    head

        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
        title= title

    body

        div.container-fluid.d-flex.flex-column.vh-100

            each slot in slots

                - var grow = slot.id !== 'nav' && slot.id !== 'footer'
                - var footer = slot.id == 'footer'

                div.row.my-2(id='slot-' + slot.id class=footer ? 'footer' : '' class=grow ? 'flex-grow-1': '')

                    if slot.widget !== undefined && slot.widget.content !== undefined
                        <!--#block name="fallback" -->
                            <div class='d-flex flex-column align-items-center mt-5'>The content is currently unavailable. Please try in sometime.</div>
                        <!--#endblock -->
                        <!--#include virtual="#{slot.widget.content}" stub="fallback" -->

                    else
                        p This is slot #{slot.id}. It has the #{slot.widget.id} widget.

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous' async=true)
